
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Imagenes-Recurso/fondo-2.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del navbar */
.navbar {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 40px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.nav-links a.active {
    color: #2a1b6d;
    font-weight: bold;
}
.nav-links a:hover {
    font-size: 1.5em; /* Aumenta el tamaño de la fuente */
    transition: font-size 0.3s ease; /* Transición suave */
}
.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilos del contenido principal */
.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.hero-section {
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.hero-text {
    max-width: 500px;
}
.hero-text h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}
.cta-button {
    display: inline-block;
    background-color: #2a1b6d;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.cta-button:hover {
    background-color: #1e1356;
}

/* Estilos del footer */
.footer {
    background-color: #2a1b6d;
    color: #fff;
    padding: 20px 0;    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-logo img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}
.footer-section {
    margin-bottom: 20px;
}
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-section p, .footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
    display: block;
}
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon img {
    width: 20px;
    height: 20px;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

